<%= stylesheet_link_tag :questions %>
<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @response.question.question_text %>
</p>

<p>
  <b>Chosen Answer:</b>
  <%= @response.answer %>
</p>

<p>
  <b>Answered by:</b>
  <%= @response.user.name %>
</p>



<%= button_to 'Edit', edit_response_path(@response), class => "button" %> 
<%= button_to 'Back', responses_path, class => "button" %>
<%= button_to 'Show Results', :controller => "responses", :action => "list", class => "button" %>
<%= button_to 'Back to Questions', root_url, class => "button" %>
